{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "editor.formatOnSave": true,
    "printWidth": 80,
    "proseWrap": "preserve",
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
