<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <title>November Game</title>                  
        <meta name="author" content="Alexander Guerra">
        <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
        <link href="tailwind_theme/tailwind.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    </head>     
    <body class="bg-black text-white"> 
        <header>
            <h1 class="font-serif text-4xl">November Games</h1>
            <h2 class="font-sans text-xs">A game of my youth</h2>
        </header>
        <nav>
            <ul>
                <a href="pages/about.html"><li>About</li></a>
                <a href="pages/rules.html"><li>Rules</li></a>
                <a href="pages/settings.html"><li>Settings</li></a>
            </ul>
        </nav>
        <main>
            <div>
                <p>Current Player Info</p>
            </div>
            <div>
                <p>Place to roll dice</p>
            </div>
            <div>
                <p>Place To Store Dice</p>
            </div>
        </main>
        <footer></footer>
        <script src="https://use.fontawesome.com/releases/v5.13.1/js/all.js"></script>
    </body>     
</html>
